.clrr {
  color: red;
  padding: auto 0;
  font-size: 20px;
  animation: color_change 15s linear alternate infinite;
}
html {
  background: white;
}
body {
  margin: 0 auto;
  padding-top: -30px;
  width: 80%;
  background: #eefdef;
  border: 2px solid #c1c1c1;
  border-top: none;
  height: 150vh;
  padding: 5px;
  padding-top: 0;
}
.menuwrapper {
  background-image: url('img/selva2.jpg');
  font-family: Arial;
  display: inline-block;
  height: 37px;
  margin-bottom: 20px;
  margin-left: -5px;
  padding: 20px 5px  70px;
  font-size: 0;
  width: 100%;
  position: relative;
  top: 0;
}
.menuwrapper ul {
  margin: 0;
}
.menuwrapper ul li {
  font-size: 15px;
  float: right;
  display: inline-block;
  list-style-type: none;
  width: 120px;
  padding: 9px;
  text-align: center;
  background: rgba(0, 210, 12, 0.8);
  opacity: 30%;
}
.menuwrapper ul li:hover {
  background: #27c70d;
  color: white;
  cursor: pointer;
}
.menuwrapper ul li a {
  display: inline-block;
  text-decoration: none;
}
.menuwrapper ul .menuitem {
  border: 1px solid #000269;
  border-radius: 5px;
}
.menuwrapper ul .hide {
  display: none;
}
.menuwrapper ul .active {
  background: #1b8ff2;
  color: #000269;
}
.menuwrapper ul .active:hover {
  background: #1b8ff2;
  font-size: 15px;
}
.menuwrapper .auth {
  float: right;
  font-size: 15px;
  display: inline-block;
  padding: 7px;
  color: #fee7ff;
  background: #838388;
  border-radius: 7px;
  margin-right: 5px;
  border: 2px solid #9d9da1;
  position: fixed;
  right: 0;
  top: 2px;
}
.menuwrapper .auth:hover {
  color: #fdc734;
}
.menuwrapper .auth a {
  text-decoration: none;
  color: #3efeee;
}
.menuwrapper .logged:hover {
  color: #fee7ff;
  cursor: default;
}
@media (max-width: 729px) {
  .menuwrapper .hide {
    display: inline-block;
    font-size: 15px;
    padding: 8px;
    position: relative;
    width: 120px;
    text-align: center;
    color: white;
    background: #5e5e61;
    border-radius: 5px;
    border: 2px solid #9d9da1;
  }
  .menuwrapper .hide .active {
    font-size: 16px;
  }
  .menuwrapper .hide .active:hover {
    font-size: 16px;
    height: 19px;
  }
  .menuwrapper .hide:hover .menuitem {
    display: list-item;
    border-radius: 0;
    border-top: 1px solid #9d9da1;
  }
  .menuwrapper .hide:hover .menuitem .menuitem:nth-child(4) {
    border-bottom: 1px solid #9d9da1;
  }
  .menuwrapper .hide:hover .menuitem:hover {
    padding-top: 8px;
    padding-bottom: 9px;
  }
  .menuwrapper .hide ul {
    margin-top: 9px;
    position: absolute;
    left: -2px;
    padding: 0;
    background: #515154;
    box-sizing: border-box;
  }
  .menuwrapper ul li {
    display: none;
  }
}
